#define layout()
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="language" content="en-us" />
    <meta name="description" content="#(siteDescription)">
    <title>#(siteTitle)</title>
    #include("/WEB-INF/template/www/css.html")
    <style>
        .str_wrap{
            padding-left: 3em;
            padding-right: 3em;
            background: #fefefe;
            height: 2em;
            line-height: 2em;
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
</head>

<body >
<input type="hidden" id="ctx" value="#(ctx)">
#if(lastNotice!=null)
<div class="str1 str_wrap">
    #(lastNotice.title)
</div>
#end
#include("/WEB-INF/template/www/js.html")
#include("/WEB-INF/template/www/header.html")
<script type="text/javascript">
    $("div.navbar-fixed-top").autoHidingNavbar();
</script>
#@content()
#include("/WEB-INF/template/www/footer.html")

</body>
</html>
<script>
    $(function () {
        $('.str1').liMarquee();
    })
</script>
#end
