#@layout()
#define content()
<style>
    a:hover, a:focus {
        outline: none;
        text-decoration: none;
    }

    .tab .nav-tabs {
        border: 1px solid #1fc1dd;
    }

    .tab .nav-tabs li {
        margin: 0;
    }

    .tab .nav-tabs li a {
        font-size: 14px;
        color: #999898;
        background: #fff;
        margin: 0;
        padding: 20px 25px;
        border-radius: 0;
        border: none;
        border-right: 1px solid #ddd;
        text-transform: uppercase;
        position: relative;
    }

    .tab .nav-tabs li a:hover {
        border-top: none;
        border-bottom: none;
        border-right-color: #ddd;
    }

    .tab .nav-tabs li.active a,
    .tab .nav-tabs li.active a:hover {
        color: #fff;
        border: none;
        background: #1fc1dd;
        border-right: 1px solid #ddd;
    }

    .tab .nav-tabs li.active a:before {
        content: "";
        width: 58%;
        height: 4px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .tab .nav-tabs li.active a:after {
        content: "";
        border-top: 10px solid #1fc1dd;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 43%;
    }

    .tab .tab-content {
        font-size: 13px;
        color: #999898;
        line-height: 25px;
        background: #fff;
        padding: 20px;
        border: 1px solid #1fc1dd;
        border-top: none;
    }

    .tab .tab-content h3 {
        font-size: 24px;
        color: #999898;
        margin-top: 0;
    }

    @media only screen and (max-width: 480px) {
        .tab .nav-tabs li {
            width: 100%;
            text-align: center;
        }

        .tab .nav-tabs li.active a,
        .tab .nav-tabs li.active a:after,
        .tab .nav-tabs li.active a:hover {
            border: none;
        }
    }
</style>
<div class="container" style="">
    <div class="container">
        <div class="row align-items-center">
            <div class=" col-md-offset-3 col-md-6">
                <div class="tab" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
                                                                  data-toggle="tab">卡激活</a></li>
                        <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab"
                                                   data-toggle="tab">卡号查询</a></li>
                        <li role="presentation"><a href="#Section3" aria-controls="profile" role="tab"
                                                   data-toggle="tab">姓名/身份证号查询</a></li>
                    </ul>
                    <div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                            <form id="form"   method="post">

                                <div class="col-sm-offset-2 col-sm-8 input-group ">

                                        <span class="input-group-addon" style="background-color: white;color: #1fc1dd;"><i class="fa  icon-credit-card "></i></span>
                                        <input id="code" type="text" value="#(code??'')" name="code"
                                               placeholder="卡号" class="form-control">


                                </div>
                                <div class="col-sm-offset-2 col-sm-8 input-group" style="margin-top: 30px">
                                    <span class="input-group-addon" style="background-color: white;color: #1fc1dd;">
                                        <i class="fa  icon-key" ></i></span>
                                        <input id="pwd" type="password" value="#(pwd??'')" name="pwd"
                                               placeholder="卡密码" class="form-control">

                                </div>
                                <div class="col-sm-offset-2 col-sm-8 input-group" style="margin-top: 30px">
                                    <div class="col">
                                    <button id="signInButton" class="btn btn-primary btn-block" type="button" style="background-color: #15a7ff;border-color: #b2e2fa"
                                                 onclick="act()">
                                            激活
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section2">
                            <form id="queryForm"  method="post">
                                <!--<label class="col-sm-offset-2 col-sm-8  input-group " for="input_code">卡号/身份证号/姓名</label>-->
                                <div id="input_code" class="col-sm-offset-2 col-sm-8  input-group ">

                                    <div  class="input-group-addon" style="background-color: white;color: #1fc1dd;">
                                        <i class="fa  icon-credit-card"></i></div>
                                        <input id="q_code" type="text" value="#(code??'')" name="code"
                                               placeholder="卡号" class="form-control">

                                    </div>
                                <div class="col-sm-offset-2 col-sm-8  input-group " style="margin-top: 30px">
                                    <div class="input-group-addon" style="background-color: white;color: #1fc1dd;">
                                        <i class="fa  icon-key"></i></div>
                                        <input id="q_pwd" type="password" value="#(pwd??'')" name="pwd"
                                               placeholder="卡密码" class="form-control">

                                </div>
                                <div class="col-sm-offset-2 col-sm-8 input-group" style="margin-top: 30px">
                                    <div class="col">
                                        <button  class="btn btn-primary btn-block" type="button" style="background-color: #15a7ff;border-color: #b2e2fa"
                                                 onclick="view()">
                                            查询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Section3">
                            <form id="queryForm1"  method="post">
                                <!--<label class="col-sm-offset-2 col-sm-8  input-group " for="input_code">卡号/身份证号/姓名</label>-->
                                <div class="col-sm-offset-2 col-sm-8  input-group ">

                                    <div  class="input-group-addon" style="background-color: white;color: #1fc1dd;">
                                        <i class="glyphicon glyphicon-user"></i></div>
                                    <input id="q_name" type="text" value="#(name??'')" name="name"
                                           placeholder="姓名" class="form-control">

                                </div>
                                <div class="col-sm-offset-2 col-sm-8  input-group " style="margin-top: 30px">
                                    <div class="input-group-addon" style="background-color: white;color: #1fc1dd;">
                                        <i class="glyphicon glyphicon-credit-card"></i></div>
                                    <input id="q_idNo" type="text" value="#(idNo??'')" name="idNo"
                                           placeholder="身份证号" class="form-control">

                                </div>
                                <div class="col-sm-offset-2 col-sm-8 input-group" style="margin-top: 30px">
                                    <div class="col">
                                        <button  class="btn btn-primary btn-block" type="button" style="background-color: #15a7ff;border-color: #b2e2fa"
                                                 onclick="view1()">
                                            查询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const ctx = $('#ctx').val();
    function act() {
        let code = $("#code").val();
        let pwd = $("#pwd").val();
        if (filedCheck(code, pwd) == 1) {
            return false;
        }
        $('#form').attr("action", ctx + 'enterDetail');
        $('#form').submit();
    }
    function view() {
        let code = $("#q_code").val();
        let pwd = $("#q_pwd").val();
        if (filedCheck(code, pwd) == 1) {
            return false;
        }
        $('#queryForm').attr("action", ctx + 'viewDetail')
        $('#queryForm').submit();
    }
    function view1() {
        let name = $("#q_name").val();
        let idNo= $("#q_idNo").val();
        if (filedCheck1(name, idNo) == 1) {
            return false;
        }
        $('#queryForm1').attr("action", ctx + 'cardList')
        $('#queryForm1').submit();
    }
    function filedCheck(code, pwd) {
        if (code.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
            layer.alert('卡号不能为空')
            return 1;
        }
        if (pwd.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
            layer.alert('密码不能为空')
            return 1;
        }
        return 0;
    }
    function filedCheck1(name, idNo) {
        if (name.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
            layer.alert('姓名不能为空')
            return 1;
        }
        if (idNo.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
            layer.alert('身份证号不能为空')
            return 1;
        }
        return 0;
    }
</script>
#end