<div id="footer" class="main_foot">
    <div class="foot">
        <div class="bottom or">
            <span>
                版权所有 Copyright &copy; 2018 安保健康 | <span>#(siteICP)</span> |<span><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21011102000147" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;padding-top: 5px;"><img src="#(ctx)/static/www/img/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">辽公网安备 21011102000147号</p></a></span>

            </span>
        </div>
    </div>

</div>