<section id="header">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#(ctx)">
                </a>
            </div>
            <div aria-expanded="false" class="navbar-collapse collapse" id="bs">
                #if(cKit.isNotEmpty(menuList))
                <ul class="nav navbar-nav navbar-left">
                    <li #if(currId=='-1') class="active" #end><a href="#(ctx)/">首页</a></li>
                    #for(x : menuList )
                    <li #if(currId==x.id+'') class="active" #end><a href="#(ctx)#(x.text)#(x.id)">#(x.title)</a></li>
                        #if(currId==x.id+'')
                            #set(currTitle=x.title)
                        #end
                    #end
                </ul>
                #end
            </div>
        </div>
    </nav>
    #(ctx)
    #if(currId=="-1")
        #include("/WEB-INF/template/www/cardAct.html")
    #end
</section>
#if(currId!="-1")
    <div id="catcher" class="blue-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-6 padding-top-50 padding-bottom-40">
                    <span class="mega">#(currTitle)</span>
                </div>
            </div>
        </div>
    </div>
#end
#if(currId=="-1")
<style>
    #header {
        background-size: cover;
        background: #3398eb url(/static/www/img/double-blue-cover.png) no-repeat center center;
        /*min-height: 100%;*/
    }

    html, body {
        height: 100%;
    }

    body {
        background-color: #fff;
    }
</style>
#else
<style>
    #catcher.blue-gradient {
        background-image: linear-gradient( 340deg, #43CBFF 0%, #9708CC 100%);
    }

    #catcher {
        background-color: #2F4052;
        color: white !important;
        padding-top: 110px;
    }
    .padding-bottom-40 {
        padding-bottom: 40px!important;
    }

    .padding-top-50 {
        padding-top: 50px!important;
    }
    .mega {
        font-size: 50px;
        font-weight: bold;
    }
</style>
#end


