#@layout()
#define content()
<style>
    @media (min-width: 544px) {
        #aboutUs {
            padding-top: 14rem;
            padding-bottom: 7rem;
        }
    }

    #aboutUs {
        background-color: #024379;
        color: white;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .align-items-center {
        align-items: center !important;
    }

    .justify-content-center {
        justify-content: center !important;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>
<div id="aboutUs">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-6">
                <h2>Sense of worth</h2>
                <p class="lead">
                    AnBaoJianKang for your safety and health to provide 100 percent protection, for you to provide a good service is our eternal responsibility.
                </p>
            </div>
            <!--<div class="col-12 col-sm-6">-->
                <!--<img src="dist/HowItWorks.png" class="img-fluid" >-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="index_pd or">
    <h1>最新产品</h1>

    #for(x : pInfoList)
    #if(for.last)
    <dl class="last">
        #else
        <dl>
            #end
            <a href="#(ctx)/b/#(x.id)" class="product-thumb" target="_blank">
                <dd>

                    <img src="#(qn_url)#(x.thumbnail)" style="width: 320px;height: 200px;">
                </dd>
                <dt>
                <h1></h1>
                #(x.summary)
                <span>查看详细</span>
                </dt>
            </a>
        </dl>
        #end
</div>


<script>
    const ctx = $('#ctx').val();
    function act() {
        let code = $("#code").val();
        let pwd = $("#pwd").val();
        if (filedCheck(code, pwd) == 1) {
            return;
        }
        $('#form').attr("action", ctx + 'enterDetail');
        $('#form').submit();
    }
    function view() {
        let code = $("#code").val();
        let pwd = $("#pwd").val();
        if (filedCheck(code, pwd) == 1) {
            return;
        }
        $('#form').attr("action", ctx + 'viewDetail')
        $('#form').submit();
    }
    function filedCheck(code, pwd) {
        if (code.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
            alert('卡号不能为空')
            return 1;
        }
        if (pwd.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
            alert('密码不能为空')
            return 1;
        }
        return 0;
    }
</script>

#end