#@layout()
#define content()

<h1 style="    background-color: #ffffff;
    font-size: 26px;
    line-height: 30px;
    text-align: center; margin-bottom: 25px;padding-top: 110px;
    color: #15a7ff;">卡激活</h1>
<div class="container" style="padding: 0 0;background-color: #F6F9FC">

    <div class="row" style="text-align: center;
    border: 0px dashed;
    border-color: #eee;
    padding: 25px;margin-left: 0px;margin-right: 0px;border-radius: 10px;background: url('/static/www/img/banner.jpg')">
        <div class="col-md-4" >
            <img
                    src="#(ctx)/static/www/img/carousel-1_sm.png" style="height:auto"
            >
        </div>
        <div class="col-md-8" style="text-align: center">
            <div style="margin-top: 50px;margin-bottom: 30px;font-size: medium;font-weight: 800;color: floralwhite">
            <p >
                请在这里输入您的卡号与密码，开始进行卡激活操作。
            </p>
            </div>
                <form id="form" class="form-horizontal col-md-6 col-md-offset-3" style="color:floralwhite;" method="post" >
                    <div class="form-group">
                        <label for="code" class="col-md-3">卡号</label>
                        <input id="code" class="col-md-9" type="text" name="code" placeholder="请输入卡号" required
                               value="#(code??'')"/></div>
                    <div class="form-group">
                        <label for="code" class="col-md-3">密码</label>
                        <input id="pwd" class="col-md-9" type="password" name="pwd" placeholder="请输入密码" required
                               value="#(pwd??'')"/>
                    </div>
                    <div class="row" style="padding: 10px">
                        <div class="col-md-6 ">
                            <input class=" btn   btn-danger btn-block  btn-lg" id="act-btn" type="button"
                                   onclick="act()" value="激活"/></div>
                        <div class="col-md-6"><input class=" btn  btn-info btn-block  btn-lg" id="query-btn"
                                                     type="button" onclick="view()" value="查询"/></div>
                    </div>
                </form>
        </div>
    </div>
</div>


<div class="index_pd or">
    <h1>最新产品</h1>

    #for(x : pInfoList)
    #if(for.last)
    <dl class="last">
        #else
        <dl>
            #end
            <a href="#(ctx)/b/#(x.id)" class="product-thumb" target="_blank">
                <dd>

                    <img src="#(qn_url)#(x.thumbnail)" style="width: 320px;height: 200px;">
                </dd>
                <dt>
                <h1></h1>
                #(x.summary)
                <span>查看详细</span>
                </dt>
            </a>
        </dl>
        #end
</div>


<script>
    const ctx = $('#ctx').val();
    function act() {
        let code = $("#code").val();
        let pwd = $("#pwd").val();
        if (filedCheck(code, pwd) == 1) {
            return;
        }
        $('#form').attr("action", ctx + 'enterDetail');
        $('#form').submit();
    }
    function view() {
        let code = $("#code").val();
        let pwd = $("#pwd").val();
        if (filedCheck(code, pwd) == 1) {
            return;
        }
        $('#form').attr("action", ctx + 'viewDetail')
        $('#form').submit();
    }
    function filedCheck(code, pwd) {
        if (code.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
           alert('卡号不能为空')
            return 1;
        }
        if (pwd.replace(/(^\s*)|(\s*$)/g, "").length == 0) {
            alert('密码不能为空')
            return 1;
        }
        return 0;
    }
</script>

#end