<!--[if lte IE 9]>
<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script>var e=("abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(','); for(var i=0;i<e .length;i++){ document.createElement(e[i]); } window.onload = function() { var rootEl = document.body; var wrapEl = document.createElement('div'); wrapEl.className = 'ie-update'; var cont = document.createElement('div'); cont.className = 'container text-center'; cont.innerHTML = '<p>很抱歉，您的浏览器版本过低，可能无法正常使用我们的网站。推荐使用 <a target="_blank" class="ie-update-url" href="http://www.google.cn/intl/zh-CN/chrome/">Chrome浏览器</a> 或者 <a target="_blank" class="ie-update-url" href="http://windows.microsoft.com/ie">升级您的浏览器</a> 。</p>'; wrapEl.appendChild(cont); rootEl.insertBefore(wrapEl, rootEl.firstChild); rootEl.style.marginTop = '50px'; rootEl.style.position = 'relative';}</script>
<![endif]-->
<script src="#(ctx)/static/common/js/jquery.min.js"></script>
<script src="#(ctx)/static/common/js/jquery-migrate.min.js"></script>
<script src="#(ctx)/static/common/js/bootstrap.min.js"></script>
<script src="#(ctx)/static/common/js/bee.js"></script>
<script src="#(ctx)/static/www/js/main.js"></script>
<script src="#(ctx)/static/www/js/jquery.bootstrap-autohidingnavbar.js"></script>
<script>
    $(document).ready(function () {

    });

</script>
