#@layout()
#define content()

<div class="newsDetail box or" style="margin-top: 55px">
    #if(content!=null)
    <div class="top or">
        <h1 >#(content.title)</h1>
        <div class="fl">
            <p>#(content.pAtTxt)</p>
        </div>

    </div>
    <div class="con or">
        #(content.text)
    </div>
    #else
    <div class="alert alert-warning alert-dismissible fade in col-md-offset-2 col-md-8" style="padding: 15px"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span style="padding-left: 5px">对不起，您要查看的内容无法找到</span></div>
    #end
    #if(isNotBlank(closeBtn))
    <div class="or" style="text-align: center;margin-bottom: 40px;margin-top:40px;clear: both;">
        <a class="blue" href="javascript:window.close()">关闭</a>
    </div>
    #end
</div>

#end