#@layout()
#define content()

<style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
        width: 25em;
        padding: 0 4em;
        margin: 4em auto 0 auto;
        border: 1px solid #ccc;
        border-right-color: #999;
        border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
</style>
<div id="details" class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 dialog">

                <h1>您没有权限访问该资源</h1>
                <a href="#(ctx)/index">返回首页</a>
            </div>
        </div>
    </div>

</div>
#end