#@layout()
#define content()

<script src="#(ctx)/static/common/js/GB2260.js"></script>
<script src="#(ctx)/static/common/js/IDValidator.js"></script>

<div id="details" class="container-fluid" style="margin-top: 110px">
    <div class="container" id="protocolDiv">
        <div class="row">
            <div class="container" style="padding: 0 0;margin-bottom: 10px">
                <div class="row" style="text-align: center">
                    <h2>#(card.cardtypeName??"")<h3>协议条款</h3></h2>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                #include("/WEB-INF/template/www/card_01/protocol.html")
            </div>
        </div>
    </div>
    <div class="container" id="addInsureinfoDiv">
        <div class="row">
            <div class="container" style="padding: 0 0;margin-bottom: 10px">
                <div class="row" style="text-align: center">
                    <h2>录入投保详细信息</h2>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                #include("/WEB-INF/template/www/card_01/addInsureinfo.html")
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $("#protocolDiv").show();
        $("#addInsureinfoDiv").hide();
    });
    $(document).ready(function () {
        $('#rootwizard').smartWizard({
            theme: "circles", lang: {  // Language variables
                next: '下一步',
                previous: '上一步'
            }, autoAdjustHeight: true, cycleSteps: false, transitionEffect: 'fade', // Effect on navigation, none/slide/fade
            transitionSpeed: '400', toolbarSettings: {
                toolbarPosition: 'bottom', // none, top, bottom, both
                toolbarButtonPosition: 'right', // left, right
                showNextButton: true, // show/hide a Next button
                showPreviousButton: true, // show/hide a Previous button
                toolbarExtraButtons: [
                    $('<button id="submitBtn" style="display: none;"></button>').text('提交')
                        .addClass('btn btn-info')
                        .on('click', function () {
                            let d = formCheck();
                            if (d != undefined) {
                                let i = layer.confirm('确定要提交投保信息吗？', {
                                    btn: ['否', '是'] //按钮
                                }, function () {
                                    layer.close(i)
                                }, function () {
                                    $.ajax({
                                        type: 'post',
                                        url: ctx + 'saveCardCarInfo',
                                        data: d,
                                        cache: false,
                                        dataType: 'json',
                                        success: function (data) {
                                            if (data.resCode == 'success') {
                                                layer.alert(data.resMsg, {icon: 1}, function () {
                                                    window.location.href = $('#ctx').val() + 'index';
                                                });
                                            } else if (data.resCode == 'fail') {
                                                layer.alert(data.resMsg, {icon: 5});
                                            }
                                        },
                                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                                            layer.alert('网络错误，请稍后重试', {icon: 5});
                                        }, beforeSend(XHR){
                                            layer.msg('数据处理中...', {shade: [0.8, '#393D49'], time: 100000})
                                        }, complete(XHR, TS){
                                            layer.closeAll('loading');
                                        }
                                    });
                                });

                            }

                        })
                ]
            },
        });

        $('#rootwizard').on('leaveStep', function (e, anchorObject, stepNumber, stepDirection) {
            if (stepNumber == 0 && stepDirection == "forward") {

                if ($('#cb').is(':checked')) {
                    $("#submitBtn").show();
                    return true;
                } else {
                    layer.alert('请阅读协议后，勾选已阅读', {icon: 5})
                    return false;
                }
            } else if (stepNumber == 1 && stepDirection == "backward") {

                $("#submitBtn").hide();
            }
        });
        $('input[required]').before('<span style="color:red">*</span>');
    });

</script>
#end