<div class="well well-sm" id="contactWell" style="background-color: white;">
    <form class="form-horizontal" id="cardInfoForm" method="post">
        <input type="hidden" id="cardId" name="cardId" value="#(card.id??'')">
        <fieldset>
            <legend class="text-center header">投保人信息</legend>

            <div class="success text-center"
                 style="display: none;color: black !important;font-size: 18px;font-family: 'nowaybold';"></div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>投保人类型：</label>
                    #(cardCarPh.typeTxt)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>证件类型：</label>
                    #(cardCarPh.certTypeTxt)

                </div>

                <div class="col-md-6">
                    <label>证件号：</label>
                    #(cardCarPh.certCode)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>投保人/公司名称：</label>
                    #(cardCarPh.name)
                </div>
                <div class="col-md-6">
                    <label>联系人：</label>
                    #(cardCarPh.linkName)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-6">
                    <label>手机号：</label>
                    #(cardCarPh.tel)
                </div>
                <div class="col-md-6">
                    <label>EMAIL：</label>
                    #(cardCarPh.email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label>地址：</label>
                    #(cardCarPh.address)
                </div>
            </div>


        </fieldset>

        <fieldset>
            <legend class="text-center header">被投保车辆信息</legend>
            <div class="form-group">
                <div class="col-md-6">
                    <label>车辆类型：</label>
                    #(cardsCarIp.carTypeTxt)
                </div>
                <div class="col-md-6">
                    <label>营运性质：</label>
                    #(cardsCarIp.propTxt)
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>座位数：</label>
                    #(cardsCarIp.seatCount)
                </div>
                <div class="col-md-6">
                    <label>发动机号：</label>
                    #(cardsCarIp.engineNum)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label>车架子号：</label>
                    #(cardsCarIp.frameNum)
                </div>
                <div class="col-md-6">
                    <label>车牌号：</label>
                    #(cardsCarIp.plateNum)
                </div>
            </div>
        </fieldset>
    </form>
</div>
