#@layout()
#define content()
<script src="#(ctx)/static/www/js/jquery.smartWizard.min.js"></script>
<link rel="stylesheet" type="text/css" href="#(ctx)/static/www/css/smart_wizard.min.css">
<link rel="stylesheet" type="text/css" href="#(ctx)/static/www/css/smart_wizard_theme_circles.min.css">

<div id="details" class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 ">
                <ol class="breadcrumb">
                    <li><a href="#(ctx)/">首页</a></li>
                    <li class="active">保单详细信息录入</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="well well-sm" style="background-color: white;">
                    <legend class="text-center header">卡信息</legend>
                    <div class="row">
                        <div class="col-md-4">卡号：#(card.code??"")</div>
                        <div class="col-md-4">卡类型：#(card.cardtypeName??"")</div>
                        <div class="col-md-4">卡面值：#(card.faceVal??"")</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="rootwizard" class="clearfix">

                    <ul>
                        <li><a href="#tab1" >第一步<br /><small>阅读协议</small></a></li>
                        <li><a href="#tab2" >第二步<br /><small>填写投保信息</small></a></li>
                        <li><a href="#tab3" >第三步<br><small>完成</small></a></li>
                    </ul>

                    <div >

                            <div  id="tab1">
                                #include("/WEB-INF/template/www/card_00/protocol.html")
                            </div>
                            <div  id="tab2">
                                #include("/WEB-INF/template/www/card_00/addInsureinfo.html")
                            </div>
                            <div  id="tab3">

                            </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {

            $('#rootwizard').smartWizard({theme:"circles", lang: {  // Language variables
                next: '下一步',
                previous: '上一步'
            }, autoAdjustHeight:true, cycleSteps: false,transitionEffect: 'fade', // Effect on navigation, none/slide/fade
                transitionSpeed: '400',});

            $('#rootwizard').on('leaveStep',function (e, anchorObject, stepNumber, stepDirection) {
                if(stepNumber==0&&stepDirection=="forward"){
                    if($('#cb').is(':checked')){
                        return true;
                    }else{
                        new $.flavr('请阅读协议后，勾选已阅读');
                        return false;
                    }
                }
            });
            $('input[required]').before('<span style="color:red">*</span>');
        });

    </script>
    #end