#@layout()
#define content()
<script src="https://cdn.bootcss.com/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js"></script>
<link rel="stylesheet" type="text/css" href="#(ctx)/static/www/css/wizard.css">

<div id="details" class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 ">
                <ol class="breadcrumb">
                    <li><a href="#(ctx)/">首页</a></li>
                    <li class="active">保单详细信息录入</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="well well-sm" style="background-color: white;">
                    <legend class="text-center header">卡信息</legend>
                    <div class="row">
                        <div class="col-md-4">卡号：#(card.code??"")</div>
                        <div class="col-md-4">卡类型：#(card.cardtypeName??"")</div>
                        <div class="col-md-4">卡面值：#(card.faceVal??"")</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="rootwizard" class="clearfix">
                    <div class="navbar">
                        <div class="navbar-inner">
                    <ul>
                        <li><a href="#tab1" data-toggle="tab"><span class="label">第一步</span>协议</a></li>
                        <li><a href="#tab2" data-toggle="tab"><span class="label">第二步</span>投保信息</a></li>
                        <li><a href="#tab3" data-toggle="tab"><span class="label">第三步</span>完成</a></li>
                    </ul>
                            </div></div>

                    <div class="well">
                        <div class="tab-content">
                            <div class="tab-pane" id="tab1">
                                #include("/WEB-INF/template/www/card_00/protocol.html")
                            </div>
                            <div class="tab-pane" id="tab2">
                                #include("/WEB-INF/template/www/card_00/addInsureinfo.html")
                            </div>
                            <div class="tab-pane" id="tab3">

                            </div>
                        </div>
                        <ul class="pager wizard">
                            <li class="previous first" style="display:none;"><a href="#">First</a></li>
                            <li class="previous"><a href="#">上一步</a></li>
                            <li class="next last" style="display:none;"><a href="#">Last</a></li>
                            <li class="next"><a href="#">下一步</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {

            $('#rootwizard').bootstrapWizard({'tabClass': 'bwizard-steps'});
            $('input[required]').before('<span style="color:red">*</span>');
        });

    </script>
    #end