#@layout()
#define content()

<div id="details" class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 ">
                <ol class="breadcrumb">
                    <li><a href="#(ctx)/">首页</a></li>
                    <li class="active">保单详细信息</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="well well-sm" style="background-color: white;">
                    <legend class="text-center header">卡信息</legend>
                    <div class="row">
                        <div class="col-md-4">卡号：#(card.code??"")</div>
                        <div class="col-md-4">卡类型：#(card.cardtypeName??"")</div>
                        <div class="col-md-4">卡面值：#(card.faceVal??"")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well well-sm" id="contactWell" style="background-color: white;">
                    <form class="form-horizontal" id="cardInfoForm" method="post">
                        <fieldset>
                            <legend class="text-center header">投保人信息</legend>

                            <div class="success text-center"
                                 style="display: none;color: black !important;font-size: 18px;font-family: 'nowaybold';"></div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>证件类型：</label>
                                    #(cardsPh.certTypeTxt??"")
                                </div>

                                <div class="col-md-6">
                                    <label>证件号：</label>

                                    #(cardsPh.idCard??"")
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>投保人姓名：</label>
                                    #(cardsPh.name??"")
                                </div>
                                <div class="col-md-6">
                                    <label>性别：</label>

                                        #(cardsPh.sexTxt??"")

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>手机号：</label>
                                    #(cardsPh.tel??"")
                                </div>
                                <div class="col-md-6">
                                    <label>EMAIL：</label>
                                    #(cardsPh.email??"")
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>生日：</label>
                                    #date(cardsPh.birthDay??"",'yyyy-MM-dd')
                                </div>
                            </div>

                        </fieldset>

                        #for(x : cardsIpList)
                        <fieldset>
                            <legend class="text-center header">被投保人信息#(i)</legend>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>与投保人关系：</label>
                                    #if(x.relationship=="00")
                                        父亲
                                    #elseif(x.relationship=="01")
                                        母亲
                                    #elseif(x.relationship=="02")
                                        儿子
                                    #elseif(x.relationship=="03")
                                        女儿
                                    #elseif(x.relationship=="04")
                                        配偶
                                    #elseif(x.relationship=="05")
                                        本人
                                    #end
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>证件类型：</label>
                                    #(x.certTypeTxt)
                                </div>
                                <div class="col-md-6">
                                    <label>证件号:</label>
                                    #(x.idCard)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>被投保人姓名:</label>
                                    #(x.name)
                                </div>
                                <div class="col-md-6">
                                    <label>性别：</label>
                                    #(x.sexTxt)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>手机号：</label>
                                    #(x.tel)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>生日：</label>
                                    #date(x.birthDay,'yyyy-MM-dd')
                                </div>
                            </div>

                        </fieldset>

                        <fieldset>
                            <legend class="text-center header">其他</legend>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label >受益人：</label>
                                    #(x.beneficiary)
                                </div>
                            </div>
                        </fieldset>
                        #end
                        <fieldset>
                            <legend class="text-center header">保单信息</legend>
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                    #if(isNotBlank(card.policyNum))

                                        <div class="col-md-6">保单号：#(card.policyNum??"")</div>
                                        <div class="col-md-6">报案电话：#(card.reportTel??"")</div>

                                    #else
                                        <div class="col-md-8 col-md-offset-2 alert alert-danger">
                                            <strong>注意！</strong>电子保单尚未生成，请耐心等待。
                                        </div>
                                    #end
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        #if(!electronicPolicy.isEmpty())
                        <fieldset>
                            <legend class="text-center header">电子保单下载</legend>
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div>
                                            #for(y:electronicPolicy)

                                            <a href="#(y.accessUrl)" target="_blank">#(y.name)</a>

                                            #end
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        #end
                        <fieldset>
                            <legend class="text-center header"></legend>
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <a class="btn btn-info btn-block btn-lg" href="#(ctx)/index">返回</a>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

    </div>
    #end